@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    background-color: antiquewhite;
    font-family: 'Bebas Neue', sans-serif;
    
}

*{
    margin: 0;
    padding: 0;
}


nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
       height: 65px;
       background-color: black;
       color: white;

}

nav ul li{
    padding: 0 12px;
}

nav {
    font-family: 'Bebas Neue', sans-serif;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
}

.container {
    height: 650px;
    background-color: black;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    display: flex;
    width: 70%;
    margin: 88px auto 23px; /* Adjusted margin to make space for the nav/header */
    border-radius: 12px;
    padding: 34px;
    background-image: url(photo-1453090927415-5f45085b65c0.avif);
    position: relative;
    z-index: 1; /* Set a higher z-index value for the container */
    margin-bottom: 100px;
}

.vrand img
{
    width: 44px;
    padding: 0 8px;
}

.vrand {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.vottom{
    left: 0;
    right: 0;
    z-index: 2;
    flex-direction: row;
    position: fixed;
    height: 80px;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    z-index: 5;
}

#progressvar
{
    width: 80vw;
    align-items: center;
    margin-bottom: 13px;
    cursor: pointer;
}

.icons {
    cursor: pointer;
}

.songitem {
    height: 40px;
    display: flex;
    background-color: rgb(44, 42, 42);
    color: rgb(255, 255, 255);
    width: 90%;
    margin: 12px auto; /* Adjusted margin */
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    border: 1px solid rgb(67, 62, 57); /* Added border properties */
}

.songitem img
{
    height: 35px;
    width: 40px;
    margin: 0 23px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songitemcont
{
    margin-top: 25px;
}

.songinfo {
    position: absolute;
    left: 10vw;
    font-size: large;
    margin-top: 15px;
    display: flex; /* Use flexbox for better control */
    align-items: center; /* Center items vertically in flex container */
    
}

.songinfo img
{
    opacity: 0;
    transition: opacity 0.5s ease-in;
    margin-right: 45px;
}
